- title "Attachments"

%p= link_to "Create a New Attachment", new_attachment_path

%table
  %tr
    %th Title
    %th Contacts
  - for attachment in @attachments
    %tr
      %td= link_to attachment.title, attachment
      %td= print_contacts attachment.contacts