- title @company

= render :partial => "contacts/details", :locals => {:contact => @company}

%p
  = link_to "Edit", edit_company_path(@company)
  |
  = link_to "Destroy", @company, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", companies_path
